
 @import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');
   
 .fa{
   color: #D4AC0D;
   text-align: center;
   padding: 30px;
   font-size: 46px;
 }
 .card{
   padding: 15px;
   margin: 10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.01);
  transition: box-shadow 0.3s ease-in-out;
  border:1px solid rgb(141, 104, 177);
  cursor: pointer;
  border-radius: 4px;
 }
 .card:hover{
   box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.3);
 }
 h3{
   text-align: center;
   font-size: 22px;
   color: #839192;
  font-weight: 600;

 }
 
 p{
   padding: 5px;
   text-align: center;
   font-size: 15px;
   color: #0c0c0c;
   line-height: 1.6;
  font-weight: 500;
  padding-top: 5px;
 
 }

 

.wrapper{

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .cart-nav{

  border-radius: 3px;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;

}

.cart-nav .item-count{
  font-size: 15px;
  height: 20px;
  width: 23px;
  color: #030303;
  background: #ffcccc;
  text-align: center;
  line-height: 22px;
  border: 1px solid #ffb3b3;
  border-radius: 50%;
}





.card:hover img{
  transform: scale(1.1);
}
.wrapper .card .content{
  position: absolute;
  width: 100%;
  bottom: -50%;
  background: #fff;
  padding: 10px 20px 22px 20px;
  box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}
.wrapper .card:hover .content{
  bottom: 0;
}
.card .content .row,
.content .buttons{
  display: flex;
  justify-content: space-between;
}


.content .buttons{
  margin-top: 20px;
}
.content .buttons button{
  width: 100%;
  padding: 9px 0;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #ff7979;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.content .buttons{
  margin-top: 20px;
}

.buttons button:first-child{
  color: #ff7979;
  margin-right: 10px;
  background: #fff;
}
button:first-child:hover{
  color: #fff;
  background: #ff7979;
}
.buttons button:last-child{
  color: #fff;
  margin-left: 10px;
  background: #ff7979;
}
button:last-child:hover{
  background: #ff6666;
  border-color: #ff6666;
}
